# LAZY CHDIR
alias ..='cd ..'
alias ...='cd ../..'

# DEFAULT ARGS
alias less='less -R'
# list by creation date (I think)
alias lr='ls -latr'
# list all
alias la='ls -al'
# note this does not work on mac os x, has to be patched in bash or fish rc
#alias ls='ls --color=auto'
# unetbootin-source-494.tar.gz?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Funetbootin%2Ffiles%2FUNetbootin%2F494%2F&ts=1391695063&use_mirror=heanet?)
alias wget='wget --content-disposition'
# auto colorify the grep output
alias grep="grep --color=auto"
